<div id="privileges-container" class="container">
    <ul id="schemas-ul">
        <li *ngFor="let s of _privileges.schemas">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{s.name}}
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>
            </mat-accordion>
        </li>
    </ul>
</div>