#privileges-container {
  margin-top: 10%;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.5);
}
#schemas-ul {
  list-style-type: none;
  padding: 1% 0 1% 0;
}
mat-expansion-panel {
  opacity: 0.8;
}
mat-panel-title {
  font-size: 20px;
  color: #07060d;
}

#tables-ul {
  list-style-type: none;
  padding: 0
}