.sidenav {
  background-color: rgba(255, 255, 255, 0.7);
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 20%;
  left: 10px;
  overflow-x: hidden;
  padding: 8px 0;
  color: transparent
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
}
mat-radio-button {
  color: white;
  display: block;
  font-size: 35px;
}
mat-icon {
  font-size: 25px;
}
#newconn-btn {
  background: #5ea8c5;
  color: white;
}
.footer {
  position: absolute;
  opacity: 0.8;
  background-image: url('../assets/footer.gif');
  color: white;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: white;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

