<div id="containerQueryDialog" style="background-color: silver; margin: 0px">
  <h3 class="text-center">Write the query</h3>
  <hr>
  <mat-slide-toggle (click)="availableWriteQuery()" id="enableOrDesable" style="float: right; margin: 2%"></mat-slide-toggle>  
  <mat-form-field style="padding: 5%; width: 60%" >
    <textarea id="queryTextArea" matInput placeholder="Write the query" disabled=true></textarea>
  </mat-form-field>
  <button (click)="runQuery()" id="queryButton" mat-button disabled=true >Execute</button>
  <hr>
  
</div>