/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";

html,
body {
  background-image: url("./assets/fondo.jpg");
}
.align {
  vertical-align: top;
}

.dialog .mat-dialog-container {
  border-radius: 25px;
  padding-bottom: 0;
  background-image: url("./assets/stars.gif");
}
.snack {
  background: transparent;
  color: white;
}